<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <script src="//use.typekit.net/zhh1qjo.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{! Everything else gets inserted here }}
    {{{body}}}

    <div class="footer-push"></div>

    <footer class="site-footer">
        <div class="site-footer__content">
            <a href="{{@blog.url}}" class="site-footer__content--brand">Vivid</a>
            <nav class="site-footer__content--nav">
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="">Some Page</a></li>
                    <li><a href="">Another Page</a></li>
                </ul>
            </nav>

             {{!-- <section class="copyright">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</section> --}}
                 
            
        </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! JavaScript }}
    <script type="text/javascript" src="/assets/js/main.min.js"></script>

</body>
</html>


